<div class="container">
  <h3 class="signUpTitle">Login to Haiku Life Design</h3>

  <form action="/auth/login" method="POST">

    <label for="email">Email:</label>
    <input
      class="input"
      type="email"
      name="email"
      autocomplete="off"
      required
    />

    <label for="password">Password:</label>
    <input
      class="input"
      type="password"
      name="password"
      autocomplete="off"
      required
    />
    <button type="submit" class="icon-btn"><img
              class="iconsImg-btn"
              src="/images/complete.png"
            /></button>
  </form>

  <p style="color: rgb(102, 99, 99)">{{errorMessage}}</p>
</div>