<div class="container">

  <h3 class="signUpTitle">Signup with Haiku Life Design</h3>

  <form class="" action="/auth/signup" method="POST">

    <label for="username">Username:</label>
    <input
      class="input"
      type="text"
      name="username"
      autocomplete="off"
      required
    />

    <label for="email">Email:</label>
    <input
      class="input"
      type="email"
      name="email"
      autocomplete="off"
      required
    />

    <label for="password">Password:</label>
    <input
      class="input"
      type="password"
      name="password"
      autocomplete="off"
      required
    />

    <button type="submit" class="icon-btn"><img
              class="iconsImg-btn"
              src="/images/complete.png"
            /></button>
  </form>

  <p style="color: rgb(102, 99, 99)">{{errorMessage}}</p>
</div>