<div>

  <h2>Signup with Haiku Life Design</h2>

  <form action="/auth/signup" method="POST">
  
    <label for="username">Username:</label>
    <input class="input" type="text" name="username" autocomplete="off" required>
    <br>
    <br>

    <label for="email">Email:</label>
    <input class="input" type="text" name="email" autocomplete="off" required>
    <br>
    <br>

    <label for="password">Password:</label>
    <input class="input" type="text" name="password" autocomplete="off" required>
    <br>
    <br>

    <a type="submit" class="btn-mustard">Submit</a>
  
  </form>

  <p style="color: red">{{errorMessage}}</p>

</div>



