<div>
  <a href="/auth/login" class="btn-mustard">Login!</a>
  <a href="/auth/signup" class="btn-mustard">Sign Up!</a>

  <a href="/blueprint" class="btn-mustard">Admins - Create Blueprint!</a>
  <a href="/stage" class="btn-mustard">Admins - Create Stage!</a>
  <br />
  <br />
</div>

<div>
  <h2> Add a new Blueprint</h2>
  <form action="/blueprint" method="POST">

    <label for="type">Type:</label>
    <select name="type">
      <option value="clothing, shoes & accessories">Clothing, Shoes &
        Accessories</option>
      <option value="electronics & cables">Electronics & Cables</option>
      <option value="kitchen">Kitchen</option>
      <option value="bathroom">Bathroom</option>
      <option value="paperwork">Paperwork</option>
      <option value="books">Books</option>
      <option value="sentimental">Sentimental</option>
      <option value="miscellaneous">Miscellaneous</option>
    </select>

    <label for="title">Title:</label>
    <select name="title">
      <option value="Drawer Destroyer">Drawer Destroyer</option>
      <option value="Wardrobe Warrior">Wardrobe Warrior</option>
      <option value="Shelf Shaker">Shelf Shaker</option>
      <option value="Desk Daze">Desk Daze</option>
      <option value="SadoMasoPath - all of it!">SadoMasoPath - all of it!</option>
    </select>

    <label for="description">Description:</label>
    <textarea name="description" cols="30" rows="10"></textarea>

    <button type="submit" class="btn-mustard">Add Blueprint!</button>

  </form>
</div>