<div>
  <a href="/auth/login" class="btn-mustard">Login!</a>
  <a href="/auth/signup" class="btn-mustard">Sign Up!</a>

  <a href="/blueprint" class="btn-mustard">Admins - Create Blueprint!</a>
  <a href="/stage" class="btn-mustard">Admins - Create Stage!</a>
  <br />
  <br />
</div>

<div>
  <h2> Add a new Blueprint</h2>
  <form action="/blueprint" method="POST">

    <label for="type">Type:</label>
    <select name="type">
      <option value="clothing, shoes & accessories">Clothing, Shoes &
        Accessories</option>
      <option value="electronics & cables">electronics & cables</option>
      <option value="kitchen">Kitchen</option>
      <option value="bathroom"></option>
      <option value="paperwork"></option>
      <option value="books"></option>
      <option value="sentimental"></option>
      <option value="miscellaneous"></option>
    </select>

    <label for="title">Title:</label>
    <input type="text" name="title" />

    <label for="description">Description:</label>
    <textarea name="description" cols="30" rows="10"></textarea>

    <button type="submit" class="btn-mustard">Add Blueprint!</button>

  </form>
</div>