<div>
    <p>Upload your profile photo - cloundinary</p>
    <p>Username, >> INPUT FIELD >> Bio >> change password >> >> little quotes >>
        CHOOSE YOUR AVATAR >> CHECK ICONS CSS ON WIREFRAME FOR EXAMPLE.
    ?? profile photo serves purpose if conversations exist</p>
</div>