<div class="icons">
    <ul class="icons">
        <li class="icon-l">
            <a href="/">Home</a>
        </li>
        <li class="icon-l">
            <a href="/path">Paths</a>
        </li>
        <li class="icon-l">
            <a href="/thingshui">THSH</a>
        </li>
        <li class="icon-l">

        </li>
    </ul>
    <ul class="icons">
        <li class="icon-r">

        </li>
        {{#if isLoggedIn}}
        <li class="icon-r">
            <a href="/auth/logout">Log Out!</a>
        </li>
        {{else}}
        <li class="icon-r">
            <a href="/auth/login">Log in</a>
        </li>
        <li class="icon-r">
            <a href="/auth/signup">Sign Up</a>
        </li>
        {{/if}}
        
        <li class="icon-r">
            <a href="/auth/signup">Settings</a>
        </li>
    </ul>
</div>

<div>
    <p>Upload your profile photo - cloundinary</p>
    <p>Username, >> INPUT FIELD >> Bio >> change password >> >> little quotes >>
        CHOOSE YOUR AVATAR >> CHECK ICONS CSS ON WIREFRAME FOR EXAMPLE.
    ?? profile photo serves purpose if conversations exist</p>
</div>