<div class="container settingsBody">

  {{#if isLoggedIn}}

    <h1> {{user.username}} </h1>
    <h4> {{user.email}} </h4>

    <p>Upload your profile photo - cloundinary</p>
    <p>
      Bio >> CHOOSE YOUR AVATAR >> CHECK ICONS CSS ON WIREFRAME FOR EXAMPLE. ??
      profile photo serves purpose if conversations exist change password >> >>
      little quotes >>
    </p>

  {{/if}}
</div>