{{! this is not styled - needs to be centered, font size }}

<div>
<br>
<br>
<h1 class="path-text">Ooops!!</h1>
<h2 class="path-text">Go back and take a picture of your work to advance to the next step!</h2>
</div>