<h1>{{title}} 🚀</h1>

<button href="/auth/login" class="btn-mustard">Login!</button>
<button href="/auth/signup" class="btn-mustard">Sign Up!</button>


<p>Brought to you by Passionate Developers, Life Coaches, Neuroscientists
and People who simply NEED a way to follow through on the minimal lifestyle
within a busy lifestyle.</p>
<p>Here's to our present moment having space to breathe, think and be.</p>
</p>