
  <span class="indexBtns">
    <button class="btn-mustard">
      
    </button>
    <button class="btn-mustard">
      
    </button>
  </span>
{{/if }}

<div class="icons">
    <ul class="icons">
        <li class="icon-l">
            <a href="/"><img src="/images/box.png"></a>
         
        </li>
        <li class="icon-l">
            <a href="/path"><img src="/images/droplet.png"></a>
        </li>
        <li class="icon-l">
            <a href="/thingshui">THSH</a>
        </li>
        <li class="icon-l">

        </li>
    </ul>
    <ul class="icons">
        <li class="icon-r">
        
        </li>
        {{#if isAdmin}}
        <li class="icon-r">
            <a href="/blueprint">Create Blueprint</a>
        </li>
        <li class="icon-r">
            <a href="/stage">Create Stage</a>
        </li>
        {{#if isLoggedIn}}
        <li class="icon-r">
            <a href="/auth/logout">Log Out!</a>
        </li>
        {{else}}
        <li class="icon-r">
            <a href="/auth/login">Log in</a>
        </li>
        <li class="icon-r">
            <a href="/auth/signup">Sign Up</a>
        </li>
        {{/if}}
        
        <li class="icon-r">
            <a href="/auth/signup"><img src="/images/settings.png"></a>
        </li>
    </ul>
</div>

  <ul class="indexList">
    <li>
      Excess all around
    </li>
    <li>
      Unclutch material found
    </li>
    <li>
      Here's your truth in space
    </li>
  </ul>


  <footer class="footerIndex">
    Haiku Life Design is brought to you by Passionate Developers, Life Coaches,
    Neuroscientists and people who simply NEED a way to follow through on the
    minimal lifestyle within a busy schedule. Here's to our present moment
    having space to breathe, think and be.
  </footer>

</div>