  {{#if isAdmin}}
  <span class="indexBtns">
    <button class="btn-mustard">
      <a href="/blueprint">Admins - Create Blueprint</a>
    </button>
    <button class="btn-mustard">
      <a href="/stage">Admins - Create Stage</a>
    </button>
  </span>

<div class="indexContainer">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">LOGO</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
>
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/"><img
                src="/public/images/box.png"
              /></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/path">Paths</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/thingshui">THSH</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="/auth/login">Log in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="/auth/signup">Sign Up</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
{{/if }}


<div class="icons">
    <ul class="icons">
        <li class="icon-l">
            <a href="/">Home</a>
        </li>
        <li class="icon-l">
            <a href="/path">Paths</a>
        </li>
        <li class="icon-l">
            <a href="/thingshui">THSH</a>
        </li>
        <li class="icon-l">

        </li>
    </ul>
    <ul class="icons">
        <li class="icon-r">

        </li>
        {{#if isLoggedIn}}
        <li class="icon-r">
            <a href="/auth/logout">Log Out!</a>
        </li>
        {{else}}
        <li class="icon-r">
            <a href="/auth/login">Log in</a>
        </li>
        <li class="icon-r">
            <a href="/auth/signup">Sign Up</a>
        </li>
        {{/if}}
        
        <li class="icon-r">
            <a href="/auth/signup">Settings</a>
        </li>
    </ul>
</div>

  <ul class="indexList">
    <li>
      Excess all around
    </li>
    <li>
      Unclutch material found
    </li>
    <li>
      Here's your truth in space
    </li>
  </ul>


  <footer class="footerIndex">
    Haiku Life Design is brought to you by Passionate Developers, Life Coaches,
    Neuroscientists and people who simply NEED a way to follow through on the
    minimal lifestyle within a busy schedule. Here's to our present moment
    having space to breathe, think and be.
  </footer>

</div>