
<div class="container-fluid">
  <div class="row">
    <div class="col">
       <a href="/" class="btn-mustard">Home</a>
    </div>
    <div class="col">
      <a href="/path" class="btn-mustard">Paths</a>
    </div>
    <div class="col">
      <a href="/thingshui" class="btn-mustard">THSH</a>
    </div>
    <div class="col">
    </div>
    <div class="col">
        <a href="/auth/login" class="btn-mustard">Log in</a>
    </div>
    <div class="col">
        <a href="/auth/signup" class="btn-mustard">Sign Up</a>
    </div>
  </div>
</div>


<div class="container d-flex">
  <div class="row align-items-end">
    <div class="center">
        BOOTSTRAP IS A BLOODY WASTE OF MY TIME RIGHT NOW GODDAMIT
        <h1>Haiku Life Design</h1>
    </div>
  </div>
</div>


<div class="container d-flex">
  <div class="row align-items-end">
    <div class="center">
        <p>Excess all around</p>
        <p>Unclutch material found</p>
        <p>Here's your truth in space</p>
    </div>
  </div>
</div>


<div class="container d-flex">
  <div class="row align-items-end">
    <div class="center">
        <p>Brought to you by Passionate Developers, Life Coaches, Neuroscientists
            and People who simply NEED a way to follow through on the minimal lifestyle
            within a busy lifestyle.</p>
        <p>Here's to our present moment having space to breathe, think and be.</p>
    </div>
    <div class="center">
        <a href="/blueprint" class="btn-mustard">Admins - Create Blueprint</a>
        <a href="/stage" class="btn-mustard">Admins - Create Stage</a>
    </div>
  </div>
</div>