<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{title}} OR WHAT???</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <style>@import
      url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;1,200&display=swap');</style>

  </head>

  <body>

    <nav class="icons">
      <ul class="icons">

        <li class="icon-l">
          <a href="/"><img class="iconsImgLogo" src="/images/haikuLogo.png" /></a>
        </li>

        <li class="icon-l">
          <a href="/dashboard"><img
              class="iconsImg"
              src="/images/dashboard.png"
            /></a>
        </li>

        <li class="icon-l">
          <a href="/thingshui"><img
              class="iconsImg"
              src="/images/treasurebox.png"
            /></a>
        </li>
        {{#if isAdmin}}
          <li class="icon-r textPath">
            <a href="/blueprint">Create Blueprint</a>
          </li>
        {{/if}}
        {{#if isLoggedIn}}
          <li class="icon-r text">
            <a href="/auth/logout">Log Out!</a>
          </li>

          <li class="icon-r">
            <a href="/settings"><img
                class="iconsImg"
                src="/images/settings.png"
              /></a>
          </li>
        {{else}}
          <li class="icon-r text">
            <a href="/auth/login">Log in</a>
          </li>
          <li class="icon-r text">
            <a href="/auth/signup">Sign Up</a>
          </li>
        {{/if}}
      </ul>

    </nav>

    {{{body}}}

  </body>

</html>