<div>
  <h2> Add a Treasure to your Memento Box</h2>
  <form action="/thingshui/create" method="POST">

    <label for="title">Title:</label>
    <input type="text" name="title">
    <br>
    <br>

    <label for="description">Description:</label>
    <textarea name="description" cols="30" rows="10"></textarea>
    <br>
    <br>

    <button type="submit" class="btn-mustard">Thing Shui your Thing</button>

</form>
</div>

<div>
    <p>IN THE PROCESS OF ACHIEVING A MORE MINIMAL LIFESTYLE....
        Some of us, namely at least half of the creators of this App, 
        attach sentimental value to EVERYTHING. There is little need for the physical item 
        to remain hidden in a box or cluttering a shelf somewhere forgotten.</p>
    <br>
    <p>Here you can keep a little collection of commemorations of those items with a picture,
         before you say goodbye, especially if it's hard to.</p>
    <br>
    <p>If you want you can write a few words, a memory, a story, journal entry,
        to not forget it or its meaning to you and LET IT GO.</p>
    <br>
    <p>SHOULD BE ON A TIP CARD?? >> In the future, before you take some new tat home, try instead 
        to save a picture of it in your THING SHUI and rescue its dignity 
        from being another non-essential item in your home.</p>
</div>