
{{#if isLoggedIn }}

<div class="add-btn">
    <a href="/thingshui/create"><img class="icons-btn" src="/images/conversations2.png" />Add a thing shui</a>
</div>

<div>
    <hr>
    <h1 class="collections-title">THING SHUI COLLECTION</h1>
</div>

<div class="haiku-card">
    {{#each thingshuis}}
    <div class="card haiku-border" style="width: 18rem;">
            {{#if image}}
            <img class="card" src="{{this.image}}" alt="Card image cap">
            {{/if}}
        <div class="card-body">
            <p class="card-text title-text">{{this.title}}</p>
            <a class="btn-mustard" href="" role="button">Edit</a>
        </div>
    </div>
    <br>
    <br>
    {{/each}}
    <br>
</div>

{{else }}

<div class="logged-out-m">
<h1>Your Mess is Missin' Out!!<h1>
<h4>Sign up to "Thing Shui" your things, treasure the stories with us and let go of what isn't a fresh and future part of your day!</h4>
</div>

{{/if }}