* {
  margin: 0;
  padding: 0;
}
:root {
  --primarycolor: azure;
  --secondarycolor: #bbaaaa;
  --thirdcolor: #e1bf54;
  --ffprimary: 'Source Sans Pro'; 
}
body {
  padding: 40px;
  padding-right: 80px;
  font-size: 14px;
  font-family: var(--ffprimary);
  background-color: var(--secondarycolor);
  color: var(--primarycolor);
}

a {
  color: var(--primarycolor);
  text-decoration: none;
}

/* -----------------INDEX ADMIN------------------ */
.indexContainer {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
}

.bg-light {
  background-color: transparent !important;
}

.bodyIndex {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin: 24vh auto 0;
}

/* ---------INDEX----------------- */

.indexList {
  list-style: none;
  font-size: 20px;
  margin: 20vh auto;
  font-style: italic;
  letter-spacing: 0.5px;
  font-weight: 0,200;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 38%;
}

.indexBtns {
  margin: 7vh auto;
}
.btn-mustard {
  color: var(--thirdcolor);
  background-color: var(--secondarycolor);
  text-decoration: none;
  border: 1px solid var(--thirdcolor);
  border-radius: 4px;
  box-shadow: 0 0 5px #e9e7e2;
  padding: 5px 3px 5px 3px;
}

.footerIndex {
  font-weight: bold;
  color: grey;
  max-width: 100%;
  display: flex;
  justify-content: center;
  padding-left: 40px;
  text-align: justify;
}
/* ------------------------------ */


.icons {
  display:flex;
  flex-direction: row;
  width: 100%;
}

.icon-l {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
}

.icon-r {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: 100%;
}


/* ---------FORMS and BUTTONS---------------- */


input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
  background-color: #c5c5c5;
  border-radius: 6px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 19px 0px;
  border: 1px solid #cfbdbd;
  color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus, select:focus {
  box-shadow: 0 0 5px #e9e7e2;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 20px 0px;
  border: 1px solid #eac552;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formScript {
  list-style: none;
  margin: 6vh auto;
  font-weight: 0,200;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 28%;
}

.form-btn {
  display: flex;
}



/* ---------PATH DASHBOARD-------------- */






/* ---------THING SHUI---------------- */

.haiku-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.haiku-border {
  background-color: #bbaaaa;
  text-decoration: none;
  border-width: 1px;
  border-radius: 8px;
  border-color: #eac552;
  margin: 6vh auto;
}