* {
  margin: 0;
  padding: 0;
}
:root {
  --primarycolor: azure;
  --secondarycolor: #bbaaaa;
  --thirdcolor: #e1bf54;
  --ffprimary: "Source Sans Pro";
}
body {
  padding: 40px;
  padding-right: 80px;
  font-size: 14px;
  font-family: var(--ffprimary);
  background-color: var(--secondarycolor);
  color: var(--primarycolor);
}

a {
  color: var(--primarycolor);
  text-decoration: none;
}

label {
  font-size: 20px;
}

/* -----------------INDEX ADMIN------------------ */
.container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
}

/* ---------INDEX----------------- */

.indexList {
  list-style: none;
  font-size: 25px;
  margin: 25vh auto;
  font-style: italic;
  letter-spacing: 0.5px;
  font-weight: 600;
}

.indexBtns {
  margin: 7vh auto;
}

.btn-mustard {
  color: var(--thirdcolor);
  background-color: var(--secondarycolor);
  text-decoration: none;
  border: 1px solid var(--thirdcolor);
  border-radius: 4px;
  box-shadow: 0 0 5px #e9e7e2;
  padding: 5px 3px 5px 3px;
}

.footerIndex {
  font-weight: bold;
  color: grey;
  max-width: 100%;
  display: flex;
  justify-content: center;
  width: 54%;
  font-size: 15px;
}
/* ------------------------------ */

/* ----NAVBAR----- */
.iconsImg {
  width: 35px;
}

.icons {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.icon-l {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
}

.icon-r {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: 100%;
}

.icon-r.text {
  font-size: 20px;
  font-weight: bold;
  align-items: center;
}

/* ---------FORMS and BUTTONS---------------- */

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
  background-color: #c5c5c5;
  border-radius: 6px;
  --webkit-transition: all 0.3s ease-in-out;
  --moz-transition: all 0.3s ease-in-out;
  --ms-transition: all 0.3s ease-in-out;
  --o-transition: all 0.3s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 19px 0px;
  border: 1px solid #cfbdbd;
  color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  box-shadow: 0 0 5px #e9e7e2;
  border: 1px solid #eac552;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formScript {
  list-style: none;
  margin: 6vh auto;
  font-weight: 0, 200;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 28%;
}

.btn-mustard {
  color: #eac552;
  background-color: #bbaaaa;
  text-decoration: none;
  border-width: 1px;
  border-radius: 8px;
  border-color: #eac552;
  box-shadow: 0 0 5px #e9e7e2;
  padding: 5px 3px 5px 3px;
  border: 1px solid #eac552;
}

/* unvisited link */
a:link {
  color: azure;
}

/* visited link */
a:visited {
  color: azure;
}

/* mouse over link */
a:hover, button:hover {
  color: #e1bf54;
}

/* selected link */
a:active {
  color: #e1bf54;
}

.icons-btn {
  width: 35px;
  height: 35px;
  margin-right: 20px;
}

.tile-btn-icon {
  width: 12px;
  height: 12px;
  margin-right: 20px;
  margin-bottom: 0;
}

.tile-btn-bg {
  width: 35px;
  height: 35px;
  margin-right: 20px;
  background-color: transparent;
  border: none;
  color: azure;
}

.form-btn {
  display: flex;
  background-color: transparent;
  border: none;
  color: azure;
}


/* ------ SignUp -------- */
/* ------ used in LogIn the same classes of SignUp----- */
.signUpTitle {
  margin-top: 15vh;
}

.signUpForm {
  margin-top: 5vh;
}

.logged-out-m {
  list-style: none;
  font-size: 25px;
  margin: 25vh auto;
  width: 50%;
  font-style: italic;
  letter-spacing: 0.5px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/* ---------PATH DASHBOARD-------------- */

/* on top of dashboard and thingshui */
.add-btn {
  list-style: none;
  font-size: 20px;
  letter-spacing: 0.5px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 50px;
}

/* ---------PATH and STAGES--------------------- */

.path {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 50%;
  flex-direction: column;
}

.path-text {
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: none;
  margin-bottom: 20px;
  color: azure;
  width: 100%;
}

.icons-btn-path {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}


/* ---------THING SHUI---------------- */

.collections-title {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.haiku-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.card-details {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
  flex-wrap: wrap;
}

.haiku-border {
  background-color: #aabbb3;
  text-decoration: none;
  border-width: 1px;
  border-radius: 8px;
  border-color: #c9d6d0;
  margin-right: 20px;
  margin-bottom: 20px;
}

.image-tile {
  border-width: 2px;
  border-radius: 8px;
  border-color: #c9d6d0;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.image-thingshui {
  max-width: 100%;
  height: auto;
}

.footerIndex-ts {
  font-weight: bold;
  color: grey;
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: justify;
  width: 54%;
  font-size: 15px;
}