
<div>
  <h2> Choose a new Path</h2>
  <form action="/paths/{{pathId}}/path" method="POST">

    {{!-- <label for="type">Choose Your Next Victim Category:</label>
    <input type="text" name="type">
    <br> USING THE BLUEPRINT we just made in the db >>> based on the blueprints available
    <br> --}}

    <select name="blueprints">
    {{#each blueprints}}
    <option value="{{this._id}}">{{this.title}}</option>
    {{/each}}
    </select>

    <label for="title">Title:</label>
    <input type="text" name="title">
    <br>
    <br>

    <label for="description">Description</label>
    <textarea name="description" cols="30" rows="10"></textarea>
    <br>
    <br>

    <button type="submit" class="btn-mustard">Add Path!</button>

</form>

<!--- NEXT . create a path with correct info . POST route for this . for Path creation >
</div>