<div>
    <a href="/auth/logout" class="btn-mustard">Log Out!</a>

    <a href="/path" class="btn-mustard">Add a Path!</a>


    <p> HERE IS DASHBOARD -> OVERVIEW OF PATHS.... we go here after loggin in </p>

    <p> ADD PATH LINK >>> </p>
    
    <p> redirect to homepage >>> </p>
</div>