<div>
    <a href="/auth/logout" class="btn-mustard">Log Out!</a>

    <p>HERE IS DASHBOARD -> OVERVIEW OF PATHS.... we go here after loggin in </p>

    <p> ADD PATH LINK >>> </p>
    
    <p> redirect to homepage >>> </p>
</div>