<div>
    <a href="/auth/logout" class="btn-mustard">Log Out!</a>

    <p>SEE YOUR PATH>> STAGE 1</p>

{{#each blueprint}}
    <h1> {{this.title}} the title we wrote for the blueprint</h1> 
{{/each}}

{{#each freshlyCreatedPath}}
    <h4> {{this.type}} its type AKA kitchen, or paperwork </h1>
    <h5> {{this.title}} the title the user calls it </h2>
    <p> {{this.description}} their description of whats happening </p>
{{/each}}

</div>