<div>
    <a href="/auth/logout" class="btn-mustard">Log Out!</a>

    <p>SEE YOUR PATH>> STAGE 1</p>

{{#if (images.length 1)}}
  STAGE 2
{{/if}}

{{#if (images.length 2)}}
  STAGE 3
{{/if}}


</div>